#### Import Modules

In [3]:
from sqlalchemy import create_engine
import pandas as pd
import sys, os
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from eda_pipeline import EDAPipeline

In [4]:
eda_pipeline = EDAPipeline()
preprocessed_trip_df = eda_pipeline.read_data(path="../data/preprocessed_trip_df_with_drivers_fulfilled.csv", version="v1_preprocessed_with_fulfilled")
preprocessed_trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26436 entries, 0 to 26435
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0.1      26436 non-null  int64
 1   Unnamed: 0        26436 non-null  int64
 2   Trip ID           26436 non-null  int64
 3   Trip Origin       26436 non-null  object
 4   Trip Destination  26436 non-null  object
 5   Trip Start Time   26436 non-null  object
 6   Trip End Time     26436 non-null  object
 7   is_weekend        26436 non-null  int64
 8   is_holiday        26436 non-null  int64
 9   distance          26436 non-null  float64
 10  speed             26436 non-null  float64
 11  driver_distance   26436 non-null  float64
 12  driver_lat        26436 non-null  float64
 13  driver_lng        26436 non-null  float64
 14  is_fulfilled      26436 non-null  int64
dtypes: float64(5), int64(6), object(4)
memory usage: 3.0+ MB

In [5]:
preprocessed_trip_df = preprocessed_trip_df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
preprocessed_trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26436 entries, 0 to 26435
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Trip ID           26436 non-null  int64
 1   Trip Origin       26436 non-null  object
 2   Trip Destination  26436 non-null  object
 3   Trip Start Time   26436 non-null  object
 4   Trip End Time     26436 non-null  object
 5   is_weekend        26436 non-null  int64
 6   is_holiday        26436 non-null  int64
 7   distance          26436 non-null  float64
 8   speed             26436 non-null  float64
 9   driver_distance   26436 non-null  float64
 10  driver_lat        26436 non-null  float64
 11  driver_lng        26436 non-null  float64
 12  is_fulfilled      26436 non-null  int64
dtypes: float64(5), int64(4), object(4)
memory usage: 2.6+ MB

In [7]:
sql_engine = create_engine('mysql+pymysql://root:@localhost/merged_data_set')

In [8]:
try:
    print('writing to the database')
    frame = preprocessed_trip_df.to_sql(
        "merged_data_set_with_fullfilled", con=sql_engine, if_exists='replace')
    print('successful')
except Exception as e:
  print("Error writing to database: ", e)

writing to the database
successful

In [9]:
df = pd.read_sql("select * from merged_data_set.merged_data_set_with_fullfilled", sql_engine)
df.shape

(26436, 14)